.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    filter: blur(8px);
    z-index: 0;
    filter: blur(8px); 
    z-index: 0; 
    pointer-events: none; 
  }
  
  .modal-main {
    pointer-events: auto;
    position: fixed;
    background: white;
    width: 80rem;
    height: auto;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    z-index: 1;
  }
  
  .modal.display-block {
    display: block;
  }
  
  .modal.display-none {
    display: none;
  }