.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4facfe;
    padding: 20px;
  }
  .navbar-left {
      display: flex;
      align-items: center; 
      gap: 12px;
    }
  

  .btn-navbar{
      background: none;
      border: none;
      display: flex; 
      align-items: center;
      justify-content: center;
      margin-top: 0;
  }
  .user-icon {
    display: flex;
   
    color: #000000;
  }