
  .container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 40px;
  }
  
  .title {
    margin: 0;
    padding: 0;
    text-align: left; 
    font-size: 24px; 
    font-weight: bold; 
    
  }
  .btn-addExpenses{
    height: 50px;
    width: 80px;
  }